<div class="pokemon-card">
	<div class="row no-gutters">
		<div class="col-5 text-center">
			<div class="pokemon-card-img">
				<img class="img-fluid" *ngIf="pokemon.imgUrl" [src]="pokemon.imgUrl" alt="{{pokemon.name}} image">
			</div>
		</div>
		<div class="col-7">
			<div class="pokemon-card-info">
				<div class="row">
					<div class="col-12"><h5>{{pokemon.name}}</h5></div>
					<div class="col-12">
						<button class="btn btn-sm btn-secondary m-1" (click)="select()">Select</button>
						<button class="btn btn-sm btn-secondary m-1" (click)="showDetail()">detail</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
